$i = 0
for level, b in $blanks
  .mt-{$i}
    margin-top: b.y !important
  .mr-{$i}
    margin-right: b.x !important
  .mb-{$i}
    margin-bottom: b.y !important
  .ml-{$i}
    margin-left: b.x !important
  .mx-{$i}
    margin-left: b.x !important
    margin-right: b.x !important
  .my-{$i}
    margin-top: b.y !important
    margin-bottom: b.y !important
  .ma-{$i}
    margin: b.y b.x !important
    
  .pt-{$i}
    padding-top: b.y !important
  .pr-{$i}
    padding-right: b.x !important
  .pb-{$i}
    padding-bottom: b.y !important
  .pl-{$i}
    padding-left: b.x !important
  .px-{$i}
    padding-left: b.x !important
    padding-right: b.x !important
  .py-{$i}
    padding-top: b.y !important
    padding-bottom: b.y !important
  .pa-{$i}
    padding: b.y b.x !important
    
  $i = $i + 1