code
  color #3e76f6
  display inline-block
  background-color #e1e1e1
  border-radius 5px
  white-space pre-wrap
  font-size 1rem
  font-family Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace
  &:before,
  &:after {
    content "\A0"
    letter-spacing -1px
  }